<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Retail Data</title>
    <style>
        h1{
        text-align: center;
        font-size:44px;
        }
        h2{
        font-size:34px;
        color:red;
        }
        p{
        font-size:24px;
        font-family: 'Raleway', sans-serif;

        }
    </style>
</head>
<body>
<h1>DATA MINING</h1>
<p>
Data Mining is the process that uses a variety of data analysis and modelling techniques to discover patterns and relationships in data that may be used to make accurate predictions. It can help you to select the right prospects on whom to focus, offers the right additional products to your existing customers and identifies good customers who may be about to leave. CRM applications that use data mining are called analytic CRM.
</p>
<h2>A. Creating a Customer Database </h2>
<p>A necessary first step to a complete CRM solution is the construction of a customer database or an information file[4]. This serves as the basis for any CRM activity. the database should contain information about the following:
•	Transactions: This should include a complete purchase history
•	Customer contacts: Today, there is an increasing number of customer contact points from multiple channels and contexts.
•	Descriptive information: This is for segmentation and other data analysis purposes.
</p>
<h2>B. Analyzing the Data</h2>
<p>Traditionally, customer databases have been analyzed[8] with the intent to define customer segments. A variety of multivariate statistical methods ranging such as cluster and discriminate analysis have been used to group together customers with similar behavioural patterns. Lifetime Customer Value (LCV)[9] is a term that gives an idea that each row/customer of the database should be analyzed in terms of current and future profitability to the firm. When a profit figure can be assigned to each customer, the marketing manager can then decide which customers to target.</p>
<h2>C. Customer Selection</h2>
<p>After the database has been created and analyzed, the next step is to consider which customers to target? The results from the analysis could be of various types. If segmentation-type analyses are performed on purchasing or related behaviour, the customers in the most desired segments (e.g., highest purchasing rates, greatest brand loyalty) would normally be selected first</p>
<h2>D. Targeting the Customers</h2>
<p>More conventional approaches for targeting selected customers include a portfolio of direct marketing methods such as telemarketing, direct mail, and, when the nature of the product is suitable, direct sales.
In particular, the new mantra, “1-to-1” [10] marketing [6], has come to mean using the Internet to facilitate individual relationship building with customers. An extremely popular form of Internet-based direct marketing is the use of personalized e-mails[13].
</p>
<h2>E. Relationship Programs </h2>
<p>The overall goal of relationship programs[11] is to deliver a higher level of customer satisfaction. Managers today feel that customers match realizations and expectations of product performance and that it is critical for them to deliver such performance at higher and higher levels as expectations increase due to intense or heightened competition, and changing customer needs.</p>
<h2>F. Privacy issues </h2>
<p>The CRM system described here depends upon a database of customer information and analysis of the data for more effective targeting of marketing communications and relationship-building activities. Particularly with the popularity of the Internet, many consumers and advocacy groups are concerned about the amount of personal information that is contained in databases and how it is being used. </p>
<h2>G. Metrics</h2>
<p>Financial and market-based indicators like profitability, market share, and profit margins have been and will continue to be important. However, in a CRM world, increased emphasis is being placed on developing measures that are customer-centric and give the manager a better idea of how her CRM policies and programs are working.  </p>
</body>
</html>