{% extends 'shubh.html'  %}
<!DOCTYPE html>
<html>
<head>
    {% block title %}

	<title>Login</title>
	<meta charset="utf-8">
	<style type="text/css">
	.shubh{
		background-color: red;
		margin: 120px 0px 5px 495px;
		border: solid;
		width: 350px;
		height: 244px;
		opacity: 0.8;
	}
	.harshi{
		margin: 52px 0px 0px 20px;
		font :16px;
		color:green;
	}
	.shiv{
		margin: 22px 90px;
		padding: 7px 20px 7px 20px;
		cursor: pointer;
	}
	.shivay{
		margin: 25px 0px 0px 20px;
	    font :16px;
		color:green;

	}
	.nnn{
		margin: 15px 5px 6px 32px;

	}
	body{
		background-color: purple;

	}

	.forgot{
	     margin: -52px -4px 5px 72px;
	}




	</style>
    {% endblock %}
</head>
<body>
{% block content %}
	<h1 style="text-align: center; font-size: 3em;">REGISTRATION FORM FOR STUDENT</h1>
	<div class="shubh">
		<form class="nnn" method="POST" action="{% url 'login' %}">
            {% csrf_token  %}
            {{ error   }}

		USERNAME : <input type="text" name="username"  placeholder="Enter your name..." required="required" class="harshi" /><br>
		PASSWORD : <input type="password" name="password" required="required" class="shivay" /><br>
		<input type="submit" name="" value="Login"   class="shiv" />
			<a href="{% url 'password_reset' %}" class="forgot">Forgot password?</a>
		</form>
	</div>


{% endblock %}
</body>
</html>