<!DOCTYPE html>
<html>
<head>
<title>Taj Mahal</title>
    {% load static %}
<meta name="keyword" content="taj,mahal,temple,white tomb,7th wonder,indian wonder"/>
<meta name="description" content="The Taj Mahal is a white tomb built in the 17th century by the Mughal emperor, Shah Jahan in memory of his wife, Mumtaz Mahal. The building is in the city of Agra, Uttar Pradesh."/>
<meta http-equi="refresh" content="4"/>
</head>
<body bgcolor="yellow">

<center><h1><font size="22" face="Verdana" color="violet"><b> <image src="{% static '6.jpg' %}" height="70" width="90"><a href="{% static '6.jpg' %}"> <u>TAJ MAHAL</u> </a><image src="{% static '6.jpg' %}" height="70" width="90"> </b></font></h1></center>

<hr size="6" color="green">


<img src="{% static '6.jpg' %}" width="1335" height="720" >


<font color="green" size="5" face="Georgia"> DAY VIEW <a href="{% static '3.jpg' %}" >    to watch  click here</a></font><br/>
<font color="green" size="5" face="Georgia"> NIGHT VIEW <a href="{% static '9.jpg' %}" download="download">    to watch  click here</a></font><br/>
<font color="green" size="5" face="Georgia"> STORM VIEW <a href="{% static '7.jpg' %}" download="download">    to watch  click here</a></font><br/>
<font color="green" size="5" face="Georgia"> SHADOW VIEW <a href="{% static '4.jpg' %}" download="download">    to watch  click here</a></font><br/>
<font color="green" size="5" face="Georgia"> GREENISH VIEW <a href="{% static '4.jpg' %}" download="download">    to watch  click here</a></font><br/>
<font color="green" size="5" face="Georgia"> RIVER VIEW <a href="{% static '5.jpg' %}" download="download">    to watch  click here</a></font><br/>
<font color="green" size="5" face="Georgia"> FOGGY VIEW <a href="{% static '6.jpg' %}" download="download">    to watch  click here</a></font><br/>


<hr size="6" color="green">

<center><p><font size="4" color="brown"><<<  One knows that ‘The Taj’ is one amongst the World’s Wonders!<br/>
One knows that it is one amongst the UNESCO World Heritage Sites!! <br/>
One knows The Taj as a legend of eternal love of an Emperor for his favourite Queen!!!<br/>
Come to ‘The Taj’ with blissful pride! Bring the saga come alive!!
Come; fall in love, every time!!!  >>> </p></center><br/>

<center><font size="6" color="green"face="Impact"><i> Entry Fee for Taj Mahal </i></font>

<table border="2" height="300" width="760" bgcolor="pink" bordercolor="red" cellspacing="4">
<tr>
  <th bgcolor="violet">S.No.</th>
 <th >Tourist Type</th>
 <th>Amount (Rs)</th>
</tr><tr>
  <td>1</td>
 <td>Foreign Tourist</td>
 <td>1100/-</td>
</tr>
<tr>
  <td>2</td>
 <td>Citizens of SAARC and DIMSTEC countries</td>
 <td>540/-</td>
<tr>
  <td>3</td>
 <td>Domesti/Indian</td>
 <td>50/-</td>
</tr>
</table>
</center>

<font size="4" face="Impact">NOTE :</font><br/>
            1.Tourists buying tickets online will get discount of Rs.5/- for per Indian ticket & Rs. 50/- for per Foreigner ticket.<br/>
            2.No Entry fee for children below the age of 15 years. (both Domestic and Foreigner)<br/>

<hr size="6" color="green">

<center><p><font color="blue" size="8" ><b>AUDIO SONGS</b></font></p></center>

<center><h2><b><font color="red" size="4" >Magenta Riddim </font>        |        <font color="violet" size="4" ><a href="{% static '1.mp3' %}">PLAY </a></font>        |          <font color="green" size="4" ><a href="{% static '1.mp3' %}" download="download">DOWNLOAD</a></font></b></h2></center>
<center><h2><b><font color="red" size="4" >Ghaint Yaar </font>           |        <font color="violet" size="4" ><a href="">PLAY </a></font>        |          <font color="green" size="4" ><a href="audio/2.mp3" download="download">DOWNLOAD</a></font></b></h2></center>
<center><h2><b><font color="red" size="4" >Billian Billian</font>        |        <font color="violet" size="4" ><a href="audio/3.mp3">PLAY </a></font>        |          <font color="green" size="4" ><a href="audio/3.mp3" download="download">DOWNLOAD</a></font></b></h2></center>
<center><h2><b><font color="red" size="4" >Mi Gente</font>               |        <font color="violet" size="4" ><a href="audio/4.m4a">PLAY </a></font>        |          <font color="green" size="4" ><a href="audio/4.m4a" download="download">DOWNLOAD</a></font></b></h2></center>
<center><h2><b><font color="red" size="4" >Just Listen </font>        |        <font color="violet" size="4" ><a href="audio/5.m4a">PLAY </a></font>        |          <font color="green" size="4" ><a href="audio/5.m4a" download="download">DOWNLOAD</a></font></b></h2></center>
<center><h2><b><font color="red" size="4" >Party Anthem</font>        |        <font color="violet" size="4" ><a href="audio/6.mp3">PLAY </a></font>        |          <font color="green" size="4" ><a href="audio/6.mp3" download="download">DOWNLOAD</a></font></b></h2></center>
<center><h2><b><font color="red" size="4" >Pariyan Sohni</font>        |        <font color="violet" size="4" ><a href="audio/7.mp3">PLAY </a></font>        |          <font color="green" size="4" ><a href="audio/7.mp3" download="download">DOWNLOAD</a></font></b></h2></center>
<center><h2><b><font color="red" size="4" >Thug Ranjha</font>        |        <font color="violet" size="4" ><a href="audio/8.mp3">PLAY </a></font>        |          <font color="green" size="4" ><a href="audio/8.mp3" download="download">DOWNLOAD</a></font></b></h2></center>
<center><h2><b><font color="red" size="4" >Trance 2016 EDM</font>        |        <font color="violet" size="4" ><a href="audio/9.mp3">PLAY </a></font>        |          <font color="green" size="4" ><a href="audio/9.mp3" download="download">DOWNLOAD</a></font></b></h2></center>
<center><h2><b><font color="red" size="4" >Chakra Official</font>        |        <font color="violet" size="4" ><a href="audio/10.mp3">PLAY </a></font>        |          <font color="green" size="4" ><a href="audio/10.mp3" download="download">DOWNLOAD</a></font></b></h2></center>
<center><font color="pink" size="6" >Martin Garrix Animals </font><audio src="Martin Garrix Animals.m4a" controls="controls"></audio></center>
<hr size="6" color="green">

<center><p><font color="blue" size="8" ><b>TAJMAHAL VIDEO</b></font></p></center>
<!--<iframe width="560" height="315" src="https://www.youtube.com/embed/&#45;&#45;BH15GS2KA" frameborder="0"-->
        <!--allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
<video src="{% static 'ssss.mp4.mp4' %}" typeof="video/mp4"  controls="controls"  height="720" width="1335"  muted="muted" loop="loop">
</video>

<hr size="6" color="green">

<center><p><font color="blue" size="8" ><b>TOUR OF TAJMAHAL</b></font></p></center>
<!--<video src="2.mp4" controls="controls" height="720" width="1335"  muted="muted" loop="loop">-->
<!--</video>-->
<iframe width="1360" height="615" src="https://www.youtube.com/embed/aiewcr6ytYM" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<hr size="6" color="green">

<font color="black" size="5"><p align="left">Top Search</p></font>
<font color="red" size="4">
Taj Mahal Timing<br/>
Entry Ticket Fee<br/>
Online Ticket Booking<br/>
Ticket Counter<br/>
Entry Gate<br/>
Taj Mahal Tour<br/>
Taj Mahal Night Tour<br/>
Taj Mahal Guide<br/>
General FaQ<br/>
Enquiry Form<br/>
Do's & Don'ts at Taj Maha</font><br/>

<font color="black" size="5"><p align="right">Helpdesk</p></font>
<font color="red" size="4" >
<p align="right">Enquiry<br/>
Tourist Information<br/>
Contact Us<br/>
FAQ<br/>
What to do & Not to do<br/>
Find a Travel Guide<br/>
Site Map</p></font><br/>

<hr size="6" color="green">

<center><font size="2" color="black">Designed & maintained by<B><I><FONT COLOR="red"> Shubham Singhal </FONT></I></B> </font>
<p><font size="5" color="black">This is the official Website of Taj Mahal - Department of Tourism, Government of Uttar Pradesh, India.</font><br/>
Content on this website is published and Managed by Department of Tourism, Government of Uttar Pradesh.</p>


</body>
</html>